<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xing.imhere">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ImHereApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uBqdy79xYm4gNTzTDVaVROG5ue6O1ejk" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ImHereActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true" />
        <!--
            出了很神奇的错误，在BDLocationService中使用了百度地图的定位功能
            一开始在Activity中启动卸载服务都很正常能定位成功
            后来想把Service集成为全局变量于是改在Application中启动
            但是报了莫名的错误，大概分成两种情况
            1.为重复报不能强转IBinder为我BDLocationService.Binder错误
            2.能成功启动，但是只定位一次，Timer失效，但是在我卸载Service后突然抽风一样的不停
                重复启动卸载Service的作用，同时可以定位，直到我将整个Application杀死才停止

            没能找到原因和百分重现bug的方法，但是以外找到了解决方案，即为下面注释掉的这句代码
            推断出错原因是BaiduLocationApi提供给开发者信息不够所以导致了惨案发生。（其实就是懒得看百度定位源码）

            出错代码：android:process=":remote",此代码为百度官方文档提供
        -->

        <service android:name=".service.BDLocationService" />

        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.MainActivity">

        </activity>

        <!-- Tencent IM接入 -->
        <!-- 消息收发 service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="false"/>
            <!--android:process=":QALSERVICE"/>-->
        <!-- 消息收发辅助 service -->
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"/>
            <!--android:process=":QALSERVICE"/>-->
        <!-- 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <!-- 系统消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter">
            <!--android:process=":QALSERVICE">-->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.IMActivity">

        </activity>
        <activity android:name=".activity.AnotherIM">

        </activity>
    </application>

</manifest>